*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background: url(portfolio-bg1.jpg);
    background-position: bottom;
    

}
.nav 
{
    height: 50px;
    width: inherit;
    /* background-color: red; */
    
    

}
ul
{
    display: flex;
    margin-left: 50%;
    
    

}
li
{
    padding: 12px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    
    border-radius: 30px;
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
    margin-top: 30px;
}

.name
{
font-size: 50px;
color: goldenrod;
text-align: center;
margin-top: 100px;
transition: 1s;
}
.listname
{
font-size: 70px;
color: white;

}

li:hover 
{
    background-color: goldenrod;
}
.name:hover
{
    transform: scale(2);
}
                                     /* page 2 start here */
.main2,.main3,.main4,.main5
{
    height: 100vh;
    width: 100%;
    text-align: center;
    /* background-color: aqua; */
}
.about
{
    font-size: 50px;
    font-weight: bolder;
    padding-top: 100px;
    
}
.page2flex
{
display: flex;
flex-wrap: wrap;
/* background-color: red; */
margin-top: 100px;
}
.left2
{
 width: 50%;
 /* border: 2px solid black; */

}
.right2
{
    width: 50%;
    /* border: 2px solid black; */

}
.firstp
{
    font-size: 50px;
    color: goldenrod;
    font-weight: bold;
    margin-left: -70px;
    
}

.parent
{
    width: 500px;
    /* border: 2px solid ; */
    font-size: 20px;
    word-spacing: 5px;
    text-align: start;
    margin-left: 22%;
}
.rightdiv
{
    height: 200px;
    width: 600px;
    background-color:rgba(255, 0, 0, 0.1);
    display: flex;
    text-align: start;
    margin-top: 50px;
    z-index: 2;
    
}
.capital
{
    font-size: 20px;
    font-weight: bold;
    color: goldenrod;
    
   
}
.capital2
{
    font-size: 17px;
    font-weight: bold;   
}
.kid1,.kid2
{
    width: 50%;
}
.flex3o1,.flex3o2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}
.flex3o2
{
    margin-top: 10px;  
}
.part1
{
    width: 23%;
    border: 1px solid;
    font-size: 40px;
    margin-top: 50px;

}
.imgskills
{
    height: 100px;
    width: 100px;
    background: url(https://img.icons8.com/?size=512&id=v8RpPQUwv0N8&format=png);
    background-size: cover;
    display: inline-block;
}
.flex4
{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* background-color: blue; */
    
}
.heading
{
    height: 50px;
    width: 100%;
    border: 2px solid ;
    background: linear-gradient(coral,lightblue);
    font-size: 30px;
    margin-top: 120px;
    text-align: center; 
    font-weight: bolder;
}
.left4,.middle4,.right4
{
    width: 32%;
    height: 350px;
    /* background-color: red; */
    /* border: 2px solid;  */

}
.detail
{
    text-align: start;
    margin-top: 50px;
    font-size: 25px;
    margin-left: 50px;
}
.bar
{
    height: 50px;
    width: 80%;
    background: linear-gradient(coral,lightblue);
    margin: 50px auto;
    font-weight: bolder;
    font-size: 50px;
    outline: 4px solid ;
    outline-offset: 10px;
}
.flex5
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    /* background: red; */
    margin-left: 25%;
    justify-content: space-between;
    margin-top: 50px;
    
}
.project1,.project2 
{
    height: 200px;
    width: 40%;
    border: 2px solid;
}
.projectimg1,.projectimg2
{
    background: url(project-bg1.jpg);
    background-size: cover;
    height: 200px;
    width: auto;
    transition: 0.7s;

}
.projectimg2
{
    background: url(project-bg2.jpg);
    background-size: cover;
    background-position: center;
}
.projectname1
{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    background-color: black;
    color: white;
    transition: 0.7s;
}

.projectname1:hover,.projectname2:hover
{
    background-color: white;
    color: black;
    outline: 2px solid gray;
}

.projectimg1:hover
{
    transform: translate(-20px, -20px);
}
.projectimg2:hover
{
    transform: translate(20px,-20px);  
}

.main6
{
    width: 100vw;
    margin-top: 200px;
    /* position: fixed;
    bottom: 0;
    z-index: -6; */
}


  .main6
  {
    width: 100%;
  }
  
.A {
    padding: 100px 0;
  height: 100vh;
  width: 100%;
  background:linear-gradient(pink ,rgba(255, 75,48, 0.55)),url(https://wallpapershome.com/images/pages/pic_h/11473.jpg);
  
}
.B
{

color: dimgrey;	
background-color: white;
height: 500x;
width: 550px;
border-radius: 10px;
margin: 0 auto;
border-radius: 20px;
}

.C
{
padding: 50px 40px;
text-align: center;
margin: 0 auto;	
width: 100%;
height: 500px;
}
.C ,.d ,.g , .h
{
width: 100%;
border: none;
border-bottom:3px solid rgba(255, 75,48, 0.55);	
}
.d
{
border-bottom:3px solid rgba(60, 60,60, 1) !important;
}

.e

{
background:linear-gradient(pink ,rgba(255, 75,48, 0.55));
/* border: 2px solid whitesmoke; */
height: 40px;
width: 200px;

}
.f{
font-size: 30px;
color: black;
font-family: initial;
}

.g{

border-bottom:1px solid black;
}

.i
{
height: 40px;
width: 200px;
background:linear-gradient(pink ,rgba(255, 75,48, 0.65));
color: white;
}
